{% extends "base.html" %}
{% block content %}
    <body>
        <ul>
            {% for user in users %}
                <li>
                    {{user.name}} {{user.surname}}
                    <ol>
                        {% for goal in user.goal_set.all %}
                            <li>
                                {{goal.name}}
                                <ul>
                                    {% for category in goal.categories.all %}
                                        <li>
                                            {{ category.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% endfor %}
        </ul>
    </body>
{% endblock %}
</html>